

.media-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2px;
  padding: 5px 0px 5px 5px;

  background-color: black;
  max-width: 800px; 
  margin: auto;
  max-height: 100vh; 
  overflow-y: auto; 
  justify-items: center;
 
  border-radius: 8px;
}
#media-container-top{
  background-color: black;
}


.media-item {
  width: 100%; 
  padding-top: 100%; 
  position: relative;
  background-color: #1e1e1e;
 
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.media-container img,
.media-container video {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 2px;
}


.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.media-container::-webkit-scrollbar {
  width: 6px;
}

.media-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.media-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
